/* Label and input on the same row
https://stackoverflow.com/questions/20850483/how-to-put-a-box-and-its-label-in-the-same-row-shiny-package */
#inline label{ display: table-cell; text-align: center; vertical-align: middle; } 
#inline .form-group { display: table-row;}


.img_text {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  color: red;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Sidebar panel */
.well {
  background-color: #fff;
  border-style: none;
}

/* Shiny notification*/

.shiny-notification {
             position:fixed;
             top: calc(2%);;
             left: calc(45%);;
             }

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.info {
  padding: 20px;
  background-color: #0066ff; /* Blue */
  color: white;
  margin-bottom: 15px;
}

/* http://colorbrewer2.org/#type=qualitative&scheme=Set1&n=3 */

.borderscenario1 {
  border: solid #e41a1c 3px;
  padding: 0 5px 5px 10px;
  border-radius: 8px;
}

.borderscenario2 {
  border: solid #377eb8 3px;
  padding: 0 5px 5px 10px;
  border-radius: 8px;
}




.left {
  float: left;
}


.cent {
  padding: 5px 5px 5px 5px;
  text-align: center;
  margin: 0 auto;
}

.right {
  padding: 5px 5px 5px 5px;
  float: right;
}


